six==1.14.0
appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
decorator==4.1.2
Django==3.1.1
djangorestframework==3.12.1
enum34==1.1.6
gunicorn==19.7.1
pathlib2==2.3.0
pexpect==4.3.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
simplegeneric==0.8.1
traitlets==4.3.2
wcwidth==0.1.9
#whitenoise==3.3.1
